<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Saira Extra Condensed', sans-serif;
        }
        
        html,
        body {
            height: 100%;
        }


        .img-wrapper {
            display: flex;
            width: 100%;

        }

        .w50 {
            width: calc(100% - 100px);
        }
    </style>
</head>

<div>
    <br>
    <br>
    <h1>Trabalho Prático 2: Árvore Geradora Mínima Autonômica com o vCube</h1>
    <br><br>
    <h2>Autor: Rubens Zandomenighi Laszlo GRR20206147</h2>
    <br>
    <h2>Motivação trabalho</h2>
    <ul>
        <li>A árvore geradora mínima é uma estrutura extremente importante em redes e sistemas distribuídos. Ela é a
            árvore que conecta todos os nodos da rede/sistema com o menor custo. No TP2 vc vai construir uma árvore
            geradora mínima sobre o vCube do TP1. </li>
    </ul>

    <div>
        <img style="max-width: 100%;" src="../src/arvore_geradora_minima_vcube.png" alt="ARVORE MINIMA VCUBE" />
    </div>
    <h2>Implementação</h2>
    <br>
    <ul>
        <li><code> <b>printSpanningAutonomicTree</b></code> : Função responsável por imprimir a árvore geradora mínima
            autonômica,
            sendo chamada conforme evento</li>
    </ul>
    <br>
    <h3>Estrutura Chamada</h3>
    <br>
    <ul>
        <li>Criado novo evento referente a impressão da árvore, dessa forma me permitiu durante os testes do trabalho,
            refinar a função conforme os testes executados. No caso dos logs finais do programa, conforme solicitado
            pelo
            professor Elias, estou adicionando o evento de impressão da árvore 1x, sendo ao final do programa.</li>
    </ul>
    <br>
    <h2>Casos de teste</h2>
    <br>
    <ol>
        <li><strong>Raiz: 0; Dimensões do vCube: 2; nenhum processo falho;</strong></li>
    </ol>

    <img src="../src/TP2_caso1_testes.png" alt="alt text">
    <div class="img-wrapper">
        <div class="w50">

            <img src="../src/TP2_1_log.png" alt="LOG">
        </div>
        <div class="w50">

            <img src="../src/TP2_caso1_arvore.png" alt="alt text">
        </div>
    </div>
    <ol start="2">
        <li><strong>Raiz: 0; Dimensões do vCube: 3; nenhum processo falho;</strong></li>
    </ol>
    <ul>
        <li>Testes para geração da árvore geradora</li>
    </ul>

    <img src="../src/TP2_caso2_testes.png" alt="alt text">
    <div class="img-wrapper">
        <div class="w50">

            <img src="../src/TP2_2_LOG.png" alt="LOG">
        </div>
        <div class="w50">

            <img src="../src/TP2_caso2_arvore.png" alt="alt text">
        </div>
    </div>

    <ol start="3">
        <li><strong>Raiz: 0; Dimensões do vCube: 3; Lista de processos falhos: 1, 2, 4, 7;</strong></li>
    </ol>

    <img src="../src/TP2_caso3_testes.png" alt="alt text">
    <div class="img-wrapper">
        <div class="w50">
            <img src="../src/TP2_3_LOG.png" alt="LOG">
        </div>
        <div class="w50">
            <img src="../src/TP2_caso3_arvore.png" alt="alt text">
        </div>
    </div>
    <ol start="4">
        <li><strong>Raiz: 7; Dimensões do vCube: 3; Lista de processos falhos: 0;</strong></li>
    </ol>

    <img src="../src/TP2_caso4_testes.png" alt="alt text">
    <div class="img-wrapper">
        <div class="w50">

            <img src="../src/TP2_4_LOG.png" alt="LOG">
        </div>
        <div class="w50">
            <img src="../src/TP2_caso4_arvore.png" alt="alt text">
        </div>
    </div>

<ol start="5">
    <li><strong>Raiz: 0; Dimensões do vCube: 4; nenhum processo falho.</strong></li>
</ol>

<img src="../src/TP2_caso5_testes.png" alt="alt text">
<div class="img-wrapper">
    <div class="w50">
        <img src="../src/TP2_5_LOG.png" alt="LOG">
    </div>
    <div class="w50">
        <img src="../src/TP2_caso5_arvore.png" alt="alt text">
    </div>
</div>
<h2>Código Fonte</h2>
<p>Disponível em:</p>
<h2>Logs:</h2>
<p>Disponíveis em:</p>
<ol>
    <li>Link Caso 1</li>
    <li>Link Caso 2</li>
    <li>Link Caso 3</li>
    <li>Link Caso 4</li>
    <li>Link Caso 5</li>
</ol>
</div>